<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WSUrl" value="http://47.89.19.47/interactive/469D5742F4F09F35DA7E692D41BE11E3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SLCMUrl" value="http://23.102.225.120:8021/api/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SLCM2Url" value="http://23.99.122.41:8021/api/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <!--
    在以下範例中， "SetAttributes" 轉換會變更 "connectionString"
    的值，以在 "Match" 定位器
    找到具有 "MyDB" 值的屬性時僅使用 "ReleaseSQLServer"。
  -->
  <connectionStrings>
    <add name="livecloudEntities"
      connectionString="metadata=res://*/Models.livecloud.csdl|res://*/Models.livecloud.ssdl|res://*/Models.livecloud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=40.83.121.38;initial catalog=livecloud;user id=testgg;password=testgg;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--
      在下列範例中，"Replace" 轉換會取代
      Web.config 檔案的全部 <customErrors> 區段。
      注意，由於
      <system.web> 節點下只有一個 customErrors 區段，則無需使用 "xdt:Locator" 屬性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
-->
  </system.web>
  <connectionStrings>
    <add name="livecloudEntities" connectionString="metadata=res://*/Models.livecloud.csdl|res://*/Models.livecloud.ssdl|res://*/Models.livecloud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=40.83.121.38;initial catalog=livecloud;user id=testgg;password=testgg;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
